.counter {
    background-color: #282c34;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fad0c3;
}

.counter-value {
    font-size: 48px;
}

.counter-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.counter-button {
    padding: 10px 20px;
    background-color: #8a8d90;
    border: none;
    border-radius: 5px;
    color: #fad0c3;
    font-size: 24px;
    cursor: pointer;
}

.counter-button:hover {
    background-color: #605e60;
}