body {
    background: radial-gradient(circle, #1b2735, #090a0f);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    font-weight: 300;
    color: #fad0c3;
}